summary:
  table_name: "summary_table"
  query: "SELECT ID, description, value FROM summary_table"
  schedule_titles:
    1: "Schedule 1 - General Information"
    2: "Schedule 2 - Claimants"
    3: "Schedule 3 - Claimant Requests Denied/Not Paid"
    4: "Schedule 4"
    5: "Schedule 5"
    6: "Schedule 6"
    